body {
    background-color: darkslategrey;
}

#engravings {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

th {
    padding: 12px 16px;
    text-align: center;
    color: rgba(255, 255, 255, 1.0);
}